Mod_1_Data_Analytics/Enunciado_Data
Mod_2_Machine_Learning_Python/data
Mod_4_Algoritmos_Avanzados/SVMs/data
Mod_5_NoSQL/data
Mod_6_Hadoop/data/hadoop_enunciado_práctica.pdf
Mod_7_Spark/Spark_Filtro_Colaborativo/data
Mod_7_Spark/Spark_Modelos_Clasificación/data
Mod_7_Spark/Spark_Recomendador_Basado_en_Contenido/data
Mod_7_Spark/Spark_Recomendador_Tipo_Ranking/data
.ipynb_checkpoints
.pdf